.userContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  border: 2px solid #1f1f1f;
  padding-top: 20px;
  margin: 0 auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.userInfo img {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: rgb(36, 36, 36);
}

.userInfo p {
  color: grey;
}

.statsList {
  display: flex;
}
