table {
  width: 450px;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  text-transform: capitalize;
  width: 150px;
  text-align: center;
}

td {
  border: 1px solid black;
  text-transform: capitalize;
  width: 150px;
  text-align: center;
}

td:first-child {
  text-align: left;
  text-indent: 30px;
}

tr:nth-child(odd) {
  background-color: rgb(228, 250, 250);
}

th {
  background-color: lightgray;
}
